Django==3.1.2
dj-database-url==0.5.0
django-cors-headers==3.5.0
djangorestframework==3.12.1
djangorestframework-simplejwt==4.4.0
python-decouple==3.3
psycopg2-binary==2.8.6
uwsgi==2.0.19.1
wheel==0.36.2